#map{
    width:1024px; 
    height:768px;
    margin: auto;
}
body{
  background-color: black;
  background-image: url(bricks.jpg);
  background-size: 100%;
  background-repeat: none;
}
#header{
    color:darkolivegreen;
    text-align: center;
<<<<<<< HEAD
}   
=======
} 
>>>>>>> b47ecac1c0a0aea5f411fac0803a2a3c2763822d
